/* CREAT TASK BUTTON */
.addTask-button-container {
    width: 30%;
    min-height: 5vh;
    /* min-width: 4rem; */

    background-color: var(--silver-color);

    display: flex;
    justify-content: center;
    
    margin: 1em 0;

    /* margin: 0.5em; */
}

.addTask-button-container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 10px;
    padding-left: 20px;

    width: 100%;

    border-radius: 50px;
    cursor: pointer;

    background-color: var(--black-color);
    color: white;
}

.addTask-button-container button h3 {
    font-family: var(--montserrat-font);
    font-weight: 400;
}