.mainpage {
    width: 100%;

    display: flex;
    flex-direction: row;

    position: relative;
}

.mainpage-left {
    width: 30%;

}

/* MAIN PAGE RIGHT SIDE STARTS HERE  */

.mainpage-right {
    width: 70%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--silver-color);

}

.mainpage-right-wrapper {
    margin: 0 5rem;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.upper-wrapper {
    width: 100%;
    height: 100%;
}



/* KINDA LIKE DASH BOARD STARTS HERE  */

.top-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#top-wrapper-button {
    height: 100%;
    width: 100%;
    padding: 1em;

    border-radius: 5px;
    border: 0;

    gap: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--white-color);

}

#button-icon{
    background-color: var(--silver-color);
    padding: 5px;
}

#top-wrapper-button h3 {
    margin: 0;
    padding: 0;
    padding-right: 3rem;
}



/*TOP WRAPPER LEFT SIDE STARTS HERE */

#info-left {
    align-items: center;
}

.info-left-wrapper {
    padding: 0;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-left-wrapper input[type="checkbox"] {
    appearance: auto;
    width: 25px;
    height: 25px;

    margin: 0;
    border: 1px solid var(--silver-color);
    border-radius: 5px;

    margin-right: 10px;
}

.info-left-wrapper h4 {
    margin: 0;
    margin-left: 10px;
    
    font-size: 20px;
    font-family: var(--montserrat-font);
    font-weight: 600;
}



/* TOP WRAPPER RIGHT SIDE STARTS HERE */

#date-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    padding: 0.5em;
    border-radius: 5px;

    background-color: var(--silver-color);

    height: 100%;
}


#date-display span {
    width: 10px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
}

#date-display h4 {
    margin: 0;
    padding: 0;

}

#info-right {
    align-items: center;

    
}

#info-right button {

    border: 0;
    padding: 0.5em;
    border-radius: 5px;

    background-color: var(--silver-color);

}


#info-right button svg {
    height: 15px;
    width: 15px;
}


/* CREATE NEW TASK STARTS HERE */


/* ADD TASK FORM STARTS HERE  */
.addTask-wrapper {
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
}

.addTask-container {

    flex-direction: column;

    margin-left: 0rem;

    display: flex; 
    justify-content: center;
    align-items: center;
}

#addTask-form-wrapper {

    width: 30%;

    margin-bottom: 10px;

    border-radius: 10px;
    border: 1px solid black;

    background-color: var(--white-color);
    
    display: block;
}


.addTask-form-container {

    display: flex;
    flex-direction: column;

    margin: 0.5em;
    padding: 0.5em;

}

.addTask-form-item {
    display: flex;
    
    width: 100%;
    
    margin-bottom: 5px;
}

#item-1 {
    background-color: var(--silver-color);

    height: 4vh;
}

#item-1 span {
    width: 10%;
    height: 100%;

    display: grid;
    place-content: center;
}


#item-1 input {
    width: 90%;
    
    padding: 0.1em 0.5em;

    background-color: transparent;
    border: 0;

    font-size: 16px;
}

#item-1 input:focus{
    border: 0;
}

.form-button-container {
    width: 100%;
    height: clamp(3vh 5vh 5vh);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#item-1 span, #item-1 input {
 border-radius: 5px;   
}


.form-button-container select {
    width: 75%;
    height: 100%;
    padding: 0;

    border-radius: 5px;
}

.form-button-container button {
    width: 10%;
    height: 100%;
    padding: 0.5em;
    
    background-color: transparent;

    border-radius: 5px;
    border: .1em solid black;
}

.form-button-container button:focus {
    background-color: black;
    color: white;
}

/* #item-2 button svg {
    height: 20px;
    width: 20px;
} */

#item-4 {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-bottom: 1vh;
}

#item-5 {
    width: 100%;
    gap: 5px;

    margin-top: 1vh;
}

#item-5 button {
    width: 100%;
    padding: 0.7em;
}


.button-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0;
}

.button-container button {
    width: 100%;
    height: 50%;

    padding: 0;
    border: 0;
    border-radius: 50px;

    font-family: var(--montserrat-font);
    font: 20pt;
    font-weight: 700;
}

#settime-button {
    background-color: var(--setTime-button);

    color: var(--blue-font-color);
    
    margin-bottom: .5em;
}

#save-button {
    background-color: var(--save-button);

    color: var(--white-color);

    margin-top: .5em;
}









