

.register-form-container {
    display: flex;

    /* padding: 1em; */

    min-height: 98vh;
    width: 99%;
}

#form, #img-container {
    width: 50%;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

#title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.input-box {
    display: flex;
    flex-direction: column;

    width: 60%;

    margin-bottom: 1em;

    min-height: 5vh;
    
}

.input-box input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}

.input-box label{
    font-size: 100%;
  

  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.button-container {
    margin-top: 2rem;
    min-height: 5vh;
}

#button {
    margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px rgb(50, 50, 50);
  font-size: 17px;
  font-weight: 600;
  color: rgb(50, 50, 50);
  cursor: pointer;
}

/* IMAGE  */

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2em;
}

#img-container img {
    object-fit: cover; 
    height: 100%;      
    width: 100%;

    border-radius: 20px;
}